[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git

[submodule "Hazel/vendor/Imgui"]
	path = Hazel/vendor/Imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Hazel/vendor/GLM"]
	path = Hazel/vendor/GLM
	url = https://github.com/g-truc/glm.git
